<%- include('../partials/header') %>

<h1>Add a Skill</h1>

<form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="skill" placeholder="Add a Skill">
    <input type="submit" value="Add Skill">
</form>

<%-include('../partials/footer') %>