body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #870022;
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

a:link { 
  text-decoration: none; 
}


a:visited { 
  text-decoration: none; 
}


a:hover { 
  text-decoration: underline; 
}


a:active { 
  text-decoration: none; 
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
li {
  list-style: none;
}

nav {
  background-color: #7A858A ;
  text-align: center;
}
